<footer class="footer-area footer--home">
	<div class="footer-bg-two pt-10 pb-50">
		<!-- <img class="shapes__1" src="assets/img/star-3a.svg" alt="">
		<img class="shapes__2" src="assets/img/snake-line-1a.svg" alt="">
		<div class="blur__shape"></div> -->
		<div class="container pt-200 pt-lg-10">
			<div class="row mb-25">
				<div class="col-xxl-3 col-lg-4 col-md-6">
					<div class="footer__widget mb-30 px-xxl-3">
						<a href="index.html"><img style="width: 100%;height: 100%;" src="assets/img/Sticker-Erecyle-png.png" alt="Logo"></a>
						<!-- <p class="footer__description mt-40">Rapidiously unleash best of the breed meta-services
							after
							principled vortals.</p> -->
					</div>
				</div>
				<div class="col-xxl-2 col-lg-4 col-md-6">
					<div class="footer__widget mb-30">
						<ul class="fot-list">
							<p>Useful Links</p>
							<li>
								<a href="index.html">Home</a>
							</li>
							<li>
								<a href="about.html">About</a>
							</li>
							<li>
								<a href="zld.html">Products</a>
							</li>
							<li>
								<a href="services.html">Services</a>
							</li>
							<li>
								<a href="industry.html">Industry</a>
							</li>
							<li>
								<a href="jobs.html">Jobs</a>
							</li>
							<li>
								<a href="contact.html">Contact</a>
							</li>

						</ul>
					</div>
				</div>
				<div class="col-xxl-4 col-lg-4 col-md-6">
					<div class="footer__widget mb-30">
						<div class="footer__contact">
							<h3 class="phone__nimber mb-25">
								<i class="fas fa-phone"></i> +91-98240 54002 / +91 93767 54002
							</h3>
							<p class="mb-0">
								<i class="fas fa-map-marker-alt"></i> <b>Asiatic Engineers</b><br>
								8, Subhada Colony, Nr, Jodhpur Gam Road, Satellite Road, Ahmedabad – 380015.
								Gujarat - INDIA
							</p>
							<br>
							<p>
								<i class="fas fa-map-marker-alt"></i> 109/A, Nalanda Complex, Nr Premchand Nagar
								Road, Satellite,
								Ahmedabad - 380015, Gujarat - INDIA.
							</p>
							<p>
								<i class="far fa-envelope"></i> water@wastewaterevaporation.com<br>
								<i class="far fa-envelope"></i> abhi9824054002@yahoo.com
							</p>
							<br>
							<p>
								<i class="fas fa-globe"></i> www.wastewaterevaporation.com<br>
								<!-- <i class="fas fa-globe"></i> www.wastewaterevaporation.net<br /> -->
								<i class="fas fa-globe"></i> www.zerodischargesystem.com
							</p>
							<div class="social_media">
					<a href="https://wa.me/919824054002" target="_blank" title="WhatsApp"><img src="assets/img/whatsapp.svg" alt="WhatsApp"></a>
					<a href="https://www.facebook.com/people/Zero-discharge-system-for-the-treatment-of-RO-Reject-Effluent/100067200350793/?mibextid=LQQJ4d" target="_blank" title="Facebook"><img src="assets/img/icon-facebook.svg" alt="Facebook"></a>
					<a href="https://x.com/abhi9824054002" target="_blank" title="X"><img src="assets/img/icon-twitter.svg" alt="X"></a>
					<a href="https://www.linkedin.com/in/abhishek-patel-aa6a3311?utm_source=share&amp;utm_campaign=share_via&amp;utm_content=profile&amp;utm_medium=ios_app" target="_blank" title="LinkedIn"><img src="assets/img/icon-linkedin.svg" alt="LinkedIn"></a>
					<a href="https://youtu.be/P_Y1jTsh5Q4" target="_blank" title="YouTube"><img src="assets/img/icon-youtube.svg" alt="YouTube"></a>
					<a href="https://www.instagram.com/asiatic_engineers?igsh=ajIxNzU1OW9rNmFv&amp;utm_source=qr" target="_blank" title="Instagram"><img src="assets/img/icon-instagram.svg" alt="Instagram"></a>
				</div>
						</div>
					</div>
				</div>

				<div class="col-xxl-3 col-lg-6 col-md-6">
					<div class="footer__widget mb-30">
						<h4 class="widget__title">Latest News</h4>
						<div class="ht-footer-subscribe-form mt-20 mb-40">
							<p>How Does Evaporation Occur</p>
							OCTOBER 6, 2021<br>
							<p>Evaporation</p>
							SEPTEMBER 9, 2021<br>
							<p>KeY Principles of Water Vapour</p>
							SEPTEMBER 8, 2021<br>
							<img style="width:100%" src="assets/img/1703769785205-Standard.png">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container copyright__border">
			<div class="copyright__area pt-75">
				<div class="row align-items-center">
					<div class="col-lg-4 text-center text-lg-start">
						<div class="copyright__text mb-30">
							<p>
								<a class="fw-bold" href="index.html#">© Asiatic Engineers. All rights reserved. 1998 to 2026.</a>
							</p>
						</div>

					</div>
					<div class="col-lg-4 text-center text-lg-start">
						<div class="copyright__text mb-30">
							<p>
								<a class="fw-bold ht_btn" href="http://blitzstudio.xyz" target="_blank" rel="noopener noreferrer">© 2026 BLITZ STUDIOS ALL RIGHTS RESERVED.</a>
							</p>
						</div>

					</div>
					<div class="col-lg-4 text-center text-lg-end">
						<ul class="footer__menu mb-30">
							<li>
								<a href="contact.html">Privacy Policy</a>
							</li>
							<li>
								<a href="contact.html">Terms &amp; Conditions</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!--footer-area end-->
